---
import Pill from '../../atoms/Pill/Pill.astro'

const { items, ariaLabel, size = 'md', as: Tag = 'div' } = Astro.props
---

{
  Tag === 'ul' ? (
    <ul class="m-0 flex list-none flex-wrap gap-2 p-0" aria-label={ariaLabel}>
      {items.map((item: string) => (
        <li>
          <Pill size={size}>{item}</Pill>
        </li>
      ))}
    </ul>
  ) : (
    <div class="flex flex-wrap gap-2 justify-center lg:justify-start" aria-label={ariaLabel}>
      {items.map((item: string) => (
        <Pill size={size}>{item}</Pill>
      ))}
    </div>
  )
}
